BEGIN;
--
-- Create model UnitOfMeasure
--
CREATE TABLE "common_unit_of_measure" ("id" char(32) NOT NULL PRIMARY KEY, "uom_code" varchar(20) NOT NULL, "uom_name" varchar(100) NOT NULL, "uom_type" varchar(20) NOT NULL, "decimal_allowed" bool NOT NULL, "is_active" bool NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "company_id" bigint NOT NULL REFERENCES "be_company" ("id") DEFERRABLE INITIALLY DEFERRED);
--
-- Create model ItemMaster
--
CREATE TABLE "common_item_master" ("id" char(32) NOT NULL PRIMARY KEY, "item_code" varchar(50) NOT NULL, "item_name" varchar(200) NOT NULL, "short_name" varchar(100) NULL, "item_type" varchar(20) NOT NULL, "status" varchar(20) NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "company_id" bigint NOT NULL REFERENCES "be_company" ("id") DEFERRABLE INITIALLY DEFERRED, "stock_uom_id" char(32) NOT NULL REFERENCES "common_unit_of_measure" ("id") DEFERRABLE INITIALLY DEFERRED);
--
-- Create model Customer
--
CREATE TABLE "common_customer" ("id" char(32) NOT NULL PRIMARY KEY, "customer_code" varchar(50) NOT NULL, "customer_name" varchar(200) NOT NULL, "customer_type" varchar(20) NOT NULL, "phone" varchar(30) NULL, "email" varchar(100) NULL, "tax_id" varchar(50) NULL, "status" varchar(20) NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "company_id" bigint NOT NULL REFERENCES "be_company" ("id") DEFERRABLE INITIALLY DEFERRED, CONSTRAINT "uq_common_customer_company_code" UNIQUE ("company_id", "customer_code"));
--
-- Create model ItemVariant
--
CREATE TABLE "common_item_variant" ("id" char(32) NOT NULL PRIMARY KEY, "sku_code" varchar(80) NOT NULL, "variant_name" varchar(200) NOT NULL, "is_default_variant" bool NOT NULL, "is_active" bool NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "item_id" char(32) NOT NULL REFERENCES "common_item_master" ("id") DEFERRABLE INITIALLY DEFERRED, CONSTRAINT "uq_common_item_variant_sku" UNIQUE ("item_id", "sku_code"));
--
-- Create model Supplier
--
CREATE TABLE "common_supplier" ("id" char(32) NOT NULL PRIMARY KEY, "supplier_code" varchar(50) NOT NULL, "supplier_name" varchar(200) NOT NULL, "contact_person" varchar(100) NULL, "phone" varchar(30) NULL, "email" varchar(100) NULL, "tax_id" varchar(50) NULL, "status" varchar(20) NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "company_id" bigint NOT NULL REFERENCES "be_company" ("id") DEFERRABLE INITIALLY DEFERRED, CONSTRAINT "uq_common_supplier_company_code" UNIQUE ("company_id", "supplier_code"));
--
-- Create constraint uq_common_uom_company_code on model unitofmeasure
--
CREATE TABLE "new__common_unit_of_measure" ("id" char(32) NOT NULL PRIMARY KEY, "uom_code" varchar(20) NOT NULL, "uom_name" varchar(100) NOT NULL, "uom_type" varchar(20) NOT NULL, "decimal_allowed" bool NOT NULL, "is_active" bool NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "company_id" bigint NOT NULL REFERENCES "be_company" ("id") DEFERRABLE INITIALLY DEFERRED, CONSTRAINT "uq_common_uom_company_code" UNIQUE ("company_id", "uom_code"));
INSERT INTO "new__common_unit_of_measure" ("id", "uom_code", "uom_name", "uom_type", "decimal_allowed", "is_active", "created_at", "updated_at", "company_id") SELECT "id", "uom_code", "uom_name", "uom_type", "decimal_allowed", "is_active", "created_at", "updated_at", "company_id" FROM "common_unit_of_measure";
DROP TABLE "common_unit_of_measure";
ALTER TABLE "new__common_unit_of_measure" RENAME TO "common_unit_of_measure";
CREATE INDEX "common_item_master_company_id_3f2eb0b5" ON "common_item_master" ("company_id");
CREATE INDEX "common_item_master_stock_uom_id_bd150db6" ON "common_item_master" ("stock_uom_id");
CREATE INDEX "common_customer_company_id_c49b307f" ON "common_customer" ("company_id");
CREATE INDEX "common_item_variant_item_id_e8a65cf3" ON "common_item_variant" ("item_id");
CREATE INDEX "common_supplier_company_id_0a115af2" ON "common_supplier" ("company_id");
CREATE INDEX "common_unit_of_measure_company_id_e3a6c711" ON "common_unit_of_measure" ("company_id");
--
-- Create constraint uq_common_item_company_code on model itemmaster
--
CREATE TABLE "new__common_item_master" ("id" char(32) NOT NULL PRIMARY KEY, "item_code" varchar(50) NOT NULL, "item_name" varchar(200) NOT NULL, "short_name" varchar(100) NULL, "item_type" varchar(20) NOT NULL, "status" varchar(20) NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "company_id" bigint NOT NULL REFERENCES "be_company" ("id") DEFERRABLE INITIALLY DEFERRED, "stock_uom_id" char(32) NOT NULL REFERENCES "common_unit_of_measure" ("id") DEFERRABLE INITIALLY DEFERRED, CONSTRAINT "uq_common_item_company_code" UNIQUE ("company_id", "item_code"));
INSERT INTO "new__common_item_master" ("id", "item_code", "item_name", "short_name", "item_type", "status", "created_at", "updated_at", "company_id", "stock_uom_id") SELECT "id", "item_code", "item_name", "short_name", "item_type", "status", "created_at", "updated_at", "company_id", "stock_uom_id" FROM "common_item_master";
DROP TABLE "common_item_master";
ALTER TABLE "new__common_item_master" RENAME TO "common_item_master";
CREATE INDEX "common_item_master_company_id_3f2eb0b5" ON "common_item_master" ("company_id");
CREATE INDEX "common_item_master_stock_uom_id_bd150db6" ON "common_item_master" ("stock_uom_id");
COMMIT;
